pkgbase = crab-invaders
	pkgdesc = A fast 2D arcade space shooter written in Rust
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/gaster4432/crab-invaders
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = libxi
	depends = libxcursor
	depends = alsa-lib
	source = crab-invaders-0.2.1.tar.gz::https://github.com/gaster4432/crab-invaders/archive/v0.2.1.tar.gz
	sha256sums = d90aa0dc33f66916bee5cbfb29f487ac1ddaf5734bee09f9424a6acf40e24366

pkgname = crab-invaders
