pkgbase = crab-invaders
	pkgdesc = A fast 2D arcade space shooter written in Rust
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/gaster4432/crab-invaders
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = libxi
	depends = libxcursor
	depends = alsa-lib
	source = crab-invaders-0.2.0.tar.gz::https://github.com/gaster4432/crab-invaders/archive/v0.2.0.tar.gz
	sha256sums = 93da7b3efb2ea254a9158475c811b972bccbc8ea5d6be508934b1e364bc9e6dc

pkgname = crab-invaders
