pkgbase = shell-shooter
	pkgdesc = A fast 2D arcade space shooter written in Rust
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/gaster4432/shell-shooter
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = libxi
	depends = libxcursor
	depends = alsa-lib
	source = shell-shooter-0.3.0.tar.gz::https://github.com/gaster4432/shell-shooter/archive/v0.3.0.tar.gz
	sha256sums = 0234d8538bfa4396ff2c47981450063baf4e846c91a9d870a9de2c8f2cbed0d0

pkgname = shell-shooter
